{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "loose": false,
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "paths": {
      "#/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "importInterop": "swc"
  },
  "sourceMaps": true
}
